/*.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 100px;
  padding: 20px;
  background-image: url("./assets/gw2-banner.jpg");
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: 0px 4px 4px black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/*.onTeam .appBar .leftIcon{
  color: green;
}*/
.onTeam{
  margin-top: 15px;
}
.onTeam .appBar{
  background-color: #D8D8D8 !important;
  border: 1px solid #979797 !important;
}
.onTeam .appBar div:first-child{
  margin-top: 0px !important;
  vertical-align: bottom !important;
}
.onTeam .appBar div:first-child .leftIcon{
  height: 100%;
}
.onTeam .appBar div:nth-child(2){
  color: black !important;
}
.onTeam .appBar div{
  height: 50px !important;
  line-height: 50px !important;
}
.greenRectIcon{
  height: 24px;
  width: 40px;
  margin-top: 11px;
}
.membersDetailsList{
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  text-align: center;
}
.statsImage{
  width: 40px;
  height: 40px;
}
.memberRow{
  height: 40px;
}