/*.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  height: 100px;
  padding: 20px;
  background-image: url("./assets/gw2-banner.jpg");
  background-repeat: no-repeat;
  background-position: right;
  box-shadow: 0px 4px 4px black;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/*.onTeam .appBar .leftIcon{
  color: green;
}*/
.onTeam{
  margin-top: 15px;
}
.onTeam .appBar{
  background-color: #D8D8D8 !important;
  border: 1px solid #979797 !important;
}
.onTeam .appBar div:first-child{
  margin-top: 0px !important;
  vertical-align: bottom !important;
}
.onTeam .appBar div:first-child .leftIcon{
  height: 100%;
}
.onTeam .appBar div:nth-child(2){
  color: black !important;
}
.onTeam .appBar div{
  height: 50px !important;
  line-height: 50px !important;
}
.greenRectIcon{
  height: 24px;
  width: 40px;
  vertical-align: middle;
}
.membersDetailsList{
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  text-align: center;
}
.statsImage{
  width: 40px;
  height: 40px;
}
.memberRow{
  height: 40px;
}
.memberName{
  text-align: center;
  margin: 5px;
  font-style: italic;
  font-weight: normal;
}
.charactersList{
  text-align: center;
}
.raidListLeft, .raidListRight, .membersPVPStatsList, .left50, .right50{
  display: inline-block;
  text-align: center;
  width: 50%;
}
.left50{
  height: 300px;
}
.sectionHeader{
  text-align: center;
  font-size: 1.5em;
}
.memberDetailsInfo, .memberPVPStatsInfo, .memberPVEStatsInfo{
  padding: 10px;
}
.infoSection:first-child, .infoSection:nth-child(2){
  margin-bottom: 15px;
}

.completeTeamsTable th, .completeTeamsTable td{
  text-align: center;
}
.backArrow{
  vertical-align: middle !important;
  fill: white !important;
}
.backNavigation{
  margin-top: -15px;
  margin-bottom: 15px;
}
.backSection{
  height: 100%;
  cursor: pointer;
  background-color: #C92626;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  -moz-box-shadow:    5px 5px 5px #666;
  -webkit-box-shadow: 5px 5px 5px #666;
  box-shadow:         5px 5px 5px #666;
}
.backNavigation > .appBar{
  background-color: #D8D8D8 !important;
  border: 1px solid #979797 !important;;
  height: 48px;
}
.returnTo{
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.memberLoadingScreen{
  background-color: white;
  text-align: center;
  /*position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;*/
}