.dashboard{
}
.main-content{
	padding: 20px;	
}
.infoSection{
	width: 100%;
}
.tabNavigation{
	margin-bottom: 15px;
}
.iconButton{
	vertical-align: middle;
}
.closeSidePanelChevron{
	vertical-align: middle;
	margin-top: 12px;
	cursor: pointer;
}