.dashboard{
}
.main-content{
	padding: 20px;	
}
.infoSection{
	width: 100%;
}
.tabNavigation{
	margin-bottom: 15px;
}
.closeSidePanelChevron{
	vertical-align: middle;
	margin-top: 12px;
	cursor: pointer;
}
.logoutButton{
	color: white;
}
.iconButton{
	fill: white;
	vertical-align: middle;
}
@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}
.fix{
	top: 0;
	position: fixed;
	width: 100%;
	z-index: 9999999999;
	margin-bottom: 0;
}
.fixTabs{
	top: 64;
	margin-top: -76px;
	position: fixed;
	width: 100%;
	z-index: 999999999;
}